h1{
    color: rgb(236, 52, 19);
    text-align: center;
}
h2{
    color:rgb(38, 221, 197);

}
h3{
    color: navy;
    text-align: center;
}
h1:hover{
    background-color: rgb(47, 255, 151);
    color:rgb(230, 50, 50);
    transform: scale(2);
    text-shadow: grey;
    text-align: center;

}
body{
    background-color: darkturquoise;
}
h4{
      color: mediumblue;


}
h5{ 
      text-align: center;

}
h5:hover{
    background-color: rgb(47, 255, 151);
    transform: scale(2);
    text-shadow: grey;
    text-align: center;}
  
  
    div {
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(20, 199, 175);
        text-align: center;
        border-radius: 10px;
    }
    
    
    h1 {
        font-size: calc(1.375rem + 1.5vw)
            
    }
            
    @media  (min-width:576px) {
        
        .col-sm-4{
            font-style: brown;
            background-color: red;}
        
    
        
        .col-lg-3{
            background-color: cornsilk;
            border-radius: 3px;
        }
    
        
        }
        @media  (min-width:992px){
            .col-sm-4{
                font-style: rgb(39, 36, 36);
                background-color: yellowgreen;}
           
            
        
            
                 
    }
            
        @media  (min-width: 1200px)
        {
            
                
            .col-sm-6{
                background-color:rgb(226, 43, 43);
                border-radius: 3px;
        
            }
            .col-lg-3{
                background-color: cornsilk;
                border-radius: 3px;
        }
        
        
    
        }
        h4{

            text-align: center;
        }


   
     -
        
     
       
        
    
  h4:hover{
    background-color: indianred;
    transform: scale(2);
    text-shadow: grey;
    text-align: center;}
  
h5{
    color: mediumblue;
}
h6{
    text-align: center;
    color: teal;
}
h6:hover{
    background-color: wheat;
    color: teal;
    transform: scale(2);
    text-shadow: grey;
    text-align: center;

}
