body{
    margin:0;
    padding: 0;
    background-color: black;
}
.container {

    position:absolute;
    top: 50%;
    left:50%;
    transform :translate(-50% ,-50%  );
}
.button{
    position: relative;
    text-align: center;
    width: 250px;
    padding: 40px;
    font-size: 35px;
    color: turquoise;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 32%;
    font-weight: 400;
    border: 5px solid turquoise;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    transition: 1.5s;
}